body { background: #0b0c10; color: white; font-family: sans-serif; margin: 0; }
.navbar { position: sticky; top: 0; background: #1f2833; padding: 15px 25px; display: flex; justify-content: space-between; align-items: center; z-index: 1000; border-bottom: 2px solid #66fcf1; }
#search { padding: 8px; border-radius: 5px; border: none; width: 250px; }

.channel-row { display: flex; border-bottom: 1px solid #1f2833; height: 90px; align-items: center; }
.channel-meta { min-width: 150px; width: 150px; padding: 10px; background: #1f2833; text-align: center; border-right: 1px solid #45a29e; font-size: 14px; }
.channel-meta img { max-width: 40px; display: block; margin: 0 auto 5px; }

.program-scroll { display: flex; overflow-x: auto; flex-grow: 1; padding: 10px; gap: 10px; }
.program-card { min-width: 200px; background: #1a1a1a; padding: 10px; border-radius: 5px; border-left: 3px solid #66fcf1; }
.time { font-size: 12px; color: #66fcf1; }
.title { font-size: 14px; font-weight: bold; margin-top: 5px; }
